{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "tailwindStylesheet": "src/styles/globals.css",
  "tailwindAttributes": ["class:list", "className"],
  "tailwindFunctions": ["twMerge", "clsx"]
}
