---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
  return tags.map((tag) => {
    const filtersPosts = posts.filter(
      (post) => Array.isArray(post.data.tags) && typeof tag === 'string' && post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filtersPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag ?? ''}>
  <h2>{tag}</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/post/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
