---
import Layout from '@layouts/Layout.astro';
import { getPostsByTag } from '@libs/postsByTag';

export async function getStaticPaths() {
  const tags = await getPostsByTag();

  return tags.map((tag) => {
    return {
      params: { tag: tag.name },
      props: { posts: tag.posts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag} class="tag">
  <h1>{tag}</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/post/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
