---
import { getPostsByTag } from '@libs/postsByTag';
import Layout from '@layouts/Layout.astro';

const tags = await getPostsByTag();
---

<Layout title="タグ一覧" className="tag-archive">
  <h2>タグ一覧</h2>
  <ul>
    {
      tags.map((tag) => (
        <li>
          {/* 投稿件数出力は確認用なので、不要なら削除 */}
          <a href={`/tags/${tag.name}`}>{tag.name}:{tag.posts.length}</a>
        </li>
      ))
    }
  </ul>
</Layout>
