---
import { getAllTags } from '../../lib/allTags';
import Layout from '../../layouts/Layout.astro';

const tags = await getAllTags();
---

<Layout title="タグ一覧" className="tag-archive">
  <h2>タグ一覧</h2>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag.name}`}>{tag.name}:{tag.posts.length}</a>
        </li>
      ))
    }
  </ul>
</Layout>
