---
import Layout from '@layouts/Layout.astro';
import PageLayout from '@layouts/PageLayout.astro';
---

<Layout title="About" class="about">
  <PageLayout title="About">
    <h2>hyacker について</h2>
    <p>
      クリエイターのための百科事典を目指すウェブメディア。<br />
      AI で膨大な情報が簡単に得られる反面、情報の取捨選択という課題は残ります。<br />
      hyacker は、プロの目で選び抜いた情報を Q&A 形式で届けます。
    </p>
    <h2>運営会社</h2>
    <dl>
      {
        [
          {
            name: '会社名',
            value: '株式会社キテレツ',
          },
          {
            name: '所在地',
            value: '555-0012 大阪市西淀川区御幣島 1-18-12',
          },
          {
            name: 'URL',
            value: 'https://kiteretz.com/',
          },
        ].map(({ name, value }) => (
          <div>
            <dt>{name}</dt>
            <dd>{value}</dd>
          </div>
        ))
      }
    </dl>
  </PageLayout>
</Layout>
