---
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';
---

<Layout title="hyacker -- クリエイターのための百科事典">
  <div>
    <div>
      <h1>
        <span>クリエイターのための百科事典</span>
        <span>The Encyclopedia for Creators</span>
      </h1>
      <SearchForm />
    </div>
  </div>
</Layout>
