---
import { twMerge } from 'tailwind-merge';

export type SectionItem = {
  title: string,
  description?: string
  posts: CollectionEntry<'posts'>[]
}
import Layout from '@layouts/Layout.astro';
import SearchForm from '@components/SearchForm.astro';
import SectionByTag  from '@components/SectionByTag.astro';
import type { SectionItem } from '@components/SectionByTag.astro';
import { getPostsByTag } from '@libs/postsByTag';

const tags = await getPostsByTag();

const sections: SectionItem[] = [
  {
    title: 'Editor’s picks',
    description: 'Editor’s picks',
    posts: []
  },
  ...tags.slice(0,2).map( ({name,posts}) => {
    return {
      title: name,
      posts: posts
    }
  })
]
---
<Layout>
  <div>
    <div class="h-640 container grid place-content-center gap-y-24 border-x px-24">
      <h1 class={twMerge('grid gap-y-24 font-medium leading-[0.9] text-neutral-900')}>
        <span class="text-144">The Encyclopedia for Creators</span>
        <span class="text-20 font-semibold leading-tight">クリエイターのための百科事典</span>
      </h1>
      <div class="max-w-400 w-full">
        <SearchForm />
      </div>
    </div>
  </div>
  {sections.map(({title,posts})=>
    <SectionByTag title={title} posts={posts} />
    )
  }
</Layout>
