---
import { twMerge } from 'tailwind-merge';
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';
import PostsByTag from '..//components/PostsByTag.astro';
import type { CollectionEntry } from 'astro:content';
import { getAllTags } from '../lib/allTags';

type sectionItem = {
  title: string,
  description?: string
  posts: CollectionEntry<'posts'>[]
}

const tags = await getAllTags();

const sections: sectionItem[] = [
  {
    title: 'Editor’s picks',
    description: 'Editor’s picks',
    posts: []
  },
  ...tags.slice(0,2).map( ({name,posts}) => {
    return {
      title: name,
      posts: posts
    }
  })
]
---
<Layout>
  <div>
    <div class="h-640 container grid place-content-center gap-y-24 border-x px-24">
      <h1 class={twMerge('grid gap-y-24 font-medium leading-[0.9] text-neutral-900')}>
        <span class="text-144">The Encyclopedia for Creators</span>
        <span class="text-20 font-semibold leading-tight">クリエイターのための百科事典</span>
      </h1>
      <div class="max-w-400 w-full">
        <SearchForm />
      </div>
    </div>
  </div>
  {sections.map(({title,posts})=>
    <PostsByTag title={title} posts={posts} />
    )
  }
</Layout>
