---
import { twMerge } from 'tailwind-merge';
import Layout from '@layouts/Layout.astro';
import SearchForm from '@components/SearchForm.astro';
import SectionByTag from '@components/SectionByTag.astro';
import { getPostsByTag } from '@libs/postsByTag';
import type { SectionItem } from '@components/SectionByTag.astro';

const tags = await getPostsByTag();

// Editor's Picksを探す（タグがなければ undefined）
const editorsPicks = tags.find((t) => t.name === "Editor's Picks");

// Editor's Picksを除いた残りのタグを記事数の多い順に最大3つ取得
const otherTags = tags.filter((t) => t.name !== "Editor's Picks").slice(0, 3);

const sections: SectionItem[] = [
  ...(editorsPicks
    ? [
        {
          title: editorsPicks.name,
          description: 'Editor’s Picks',
          posts: editorsPicks.posts,
        },
      ]
    : []),
  ...otherTags.map(({ name, posts }) => ({
    title: name,
    posts,
  })),
];
---

<Layout>
  <div class="relative z-0 my-px grid h-640 grid-rows-[auto_1fr] overflow-hidden bg-white p-32">
    <h1 class={twMerge('grid gap-y-24')}>
      <span
        class="font-space-grotesk text-32-80 leading-[0.9] font-bold tracking-tighter text-fg-800 uppercase md:text-80-144"
        >The Encyclopedia <br />for Creators</span
      >
      <span class="text-16-18 leading-tight font-semibold md:text-19-32">クリエイターのための百科事典</span>
    </h1>
    <div class="w-full self-end">
      <SearchForm
        class="tracking h-64-128"
        buttonClass="size-64-128 rounded-full bg-fg-800 transition-transform duration-300 hover:scale-[1.15]"
        iconClass="w-24-56 text-white"
        inputClass="placeholder:font-inter placeholder:opacity-10 placeholder:absolute placeholder:top-0 placeholder:-translate-y-10-34 placeholder:text-64-160 placeholder:font-thin placeholder:tracking-tighter"
      />
    </div>
    <p
      aria-hidden="true"
      class="absolute top-0 left-1/2 -z-10 -translate-x-1/2 font-ktrz text-160 leading-none text-fg-800 opacity-[0.03]"
    >
      namehyacke<br />risfrom(hy<br />akka)+hack<br />erkiteretz
    </p>
  </div>
  {sections.map(({ title, posts }) => <SectionByTag title={title} posts={posts} />)}
</Layout>
