---
import Layout from '../../layouts/Layout.astro';
import { getSortedPosts } from '../../lib/sortedPosts'

const posts = await getSortedPosts();
---

<Layout title="記事一覧" className="post-archive">
  <h2>Archives</h2>
  <ul>
    { posts.map(post => (
        <li>
          <a href={`/post/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
