---
import { twMerge } from 'tailwind-merge';

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer class={twMerge('border-t border-solid border-black', className)}>
  <div class="flex flex-row-reverse items-center justify-between">
    <nav>
      <ul class="flex items-center gap-8">
        {
          [
            {
              label: 'About',
              href: '/about/',
            },
            {
              label: 'Terms',
              href: '/',
            },
            {
              label: 'X(Twitter) ',
              href: '/',
              target: '_blank',
            },
          ].map(({ label, href, target }) => (
            <li>
              <a href={href} target={target}>
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <small>© 2025 hyacker</small>
  </div>
</footer>
