---
import { twMerge } from 'tailwind-merge';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer class={twMerge('sticky top-[100vh] bg-white', className)}>
  <div
    class="flex flex-col items-center gap-y-16 px-32 py-16 font-inter font-medium md:h-64 md:flex-row-reverse md:justify-between md:gap-0 md:py-0"
  >
    <nav>
      <ul class="flex items-center gap-x-16">
        {
          [
            {
              label: 'About',
              href: '/about/',
            },
            {
              label: 'Terms',
              href: '/',
            },
            {
              label: 'X(Twitter)',
              href: '/',
              target: '_blank',
            },
          ].map(({ label, href, target }) => (
            <li>
              <a
                href={href}
                target={target}
                class="flex items-center transition duration-300 ease-in-out hover:opacity-70"
              >
                {label}
                {label === 'X(Twitter)' && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="none"
                    viewBox="0 0 16 16"
                    class=""
                  >
                    <path
                      stroke="#171717"
                      stroke-linejoin="bevel"
                      stroke-width="1.333"
                      d="m4.229 11.771 7.542-7.542m-7.542 0h7.542v7.542"
                    />
                  </svg>
                )}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <p>© 2025 hyacker / KITERETZ inc.</p>
  </div>
</footer>
