---
import { twMerge } from 'tailwind-merge';
import { getPostsByTag } from '@libs/postsByTag';

export interface Props {
  className?: string;
}

const { className } = Astro.props;
const tags = await getPostsByTag();

const naviItems: { label: string, href: string }[] = [
  {
    label: 'Posts',
    href: '/post/',
  },
  {
    label: 'Tags',
    href: '/tags/',
  },
  ...tags.slice(0,3).map( ( {name} ) => {
    return { label: name, href: `/tags/${name}/` }
  } )
];
---

<nav class={twMerge('', className)}>
  <ul class="flex flex-wrap items-center gap-8">
    { naviItems.map(({ label, href }) => (
      <li>
        <a href={href}>{label}</a>
      </li>
      ))
    }
  </ul>
</nav>
