---
import { twMerge } from 'tailwind-merge';
import { getPostsByTag } from '@libs/postsByTag';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const tags = await getPostsByTag();

const naviItems: { label: string; href: string }[] = [
  {
    label: 'Posts',
    href: '/post/',
  },
  {
    label: 'Tags',
    href: '/tags/',
  },
  ...tags.slice(0, 3).map(({ name }) => {
    return { label: name, href: `/tags/${name}/` };
  }),
];
---

<nav aria-label="グローバルナビゲーション" class={twMerge('', className)}>
  <ul class="flex flex-wrap md:h-full md:justify-end">
    {
      naviItems.map(({ label, href }) => (
        <li class="flex md:h-full md:items-center md:justify-center">
          <a
            href={href}
            class:list={[
              'relative px-16 py-9 font-inter text-16 leading-none font-medium',
              'after:absolute after:inset-x-0 after:bottom-px after:mx-auto after:aspect-square after:w-4 after:rounded-full after:bg-neutral-900 after:opacity-0 after:transition-all after:duration-300 after:ease-in-out',
              'hover:after:opacity-100',
            ]}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
