---
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';

interface Props {
  prev: CollectionEntry<'posts'> | undefined;
  next: CollectionEntry<'posts'> | undefined;
  className?: string;
}

const { prev, next, className } = Astro.props;
---

<div class={twMerge('', className)}>
  {prev && <a href={`/post/${prev.id}`}>Prev</a>}
  {next && <a href={`/post/${next.id}`}>Next</a>}
</div>
