---
import type { CollectionEntry } from 'astro:content';

interface Props {
  prev: CollectionEntry<'posts'> | undefined;
  next: CollectionEntry<'posts'> | undefined;
  class?: string;
}

const { prev, next, class: className } = Astro.props;
---

<div class:list={[className]}>
  {prev && <a href={`/post/${prev.id}`}>Prev</a>}
  {next && <a href={`/post/${next.id}`}>Next</a>}
</div>
