---
import type { CollectionEntry } from 'astro:content'
import Card from './Card.astro'

interface Props {
title: string,
posts: CollectionEntry<'posts'>[],
description?: string
}

const { title, posts } = Astro.props
---
<section class="border-t">
  <div class="container border-x">
    <h2>{title}</h2>
    { posts.slice(0,3).map( (post) => (
      <Card post={post}/>
    ))}
  </div>
</section>
