---
import { twMerge } from '@libs/twMerge';
import SearchInput from '@components/SearchInput';

export interface Props {
  class?: string;
  buttonClass?: string;
  iconClass?: string;
  inputClass?: string;
}

const { class: className, buttonClass, iconClass, inputClass } = Astro.props;
const isSearchPage = Astro.url.pathname === '/search/';
const shouldDisable = isSearchPage ? true : false;
---

<form action="/search/" method="get">
  <label class={twMerge('relative flex items-center', className)}>
    <span class="sr-only">サイト内検索</span>
    <SearchInput client:load className={inputClass} />
    <button
      class={twMerge(
        'absolute right-16 flex aspect-square w-32 shrink-0 cursor-pointer items-center justify-center',
        buttonClass,
      )}
      disabled={shouldDisable}
      aria-label="検索"
    >
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
        class={twMerge('w-12', iconClass)}
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8.25 14.25a6 6 0 1 0 0-12 6 6 0 0 0 0 12Zm7.5 1.5-3.263-3.262"></path>
      </svg>
    </button>
  </label>
</form>
