---
import { twMerge } from 'tailwind-merge';
import SearchInput from '@components/SearchInput';

export interface Props {
  className?: string;
  buttonClassName?: string;
  iconClassName?: string;
  inputClassName?: string;
}

const { className, buttonClassName, iconClassName, inputClassName } = Astro.props;
---

<label class={twMerge('relative flex items-center', className)}>
  <SearchInput client:load className={inputClassName} />
  <button
    class={twMerge(
      'absolute right-0 flex aspect-square size-32 shrink cursor-pointer items-center justify-center',
      buttonClassName,
    )}
  >
    <!-- <span class={twMerge('absolute inset-0 block rounded-full bg-fg-800')}></span> -->
    {
      buttonClassName?.includes('js-hover-header-search-button') && (
        <span class={twMerge('absolute inset-0 z-0 block rounded-full bg-fg-800')} style="transform: scale(0);" />
      )
    }
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class={twMerge('z-0 w-12', iconClassName)}>
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8.25 14.25a6 6 0 1 0 0-12 6 6 0 0 0 0 12Zm7.5 1.5-3.263-3.262"></path>
    </svg>
  </button>
</label>

<script>
  import '@scripts/hoverSearchButton';
</script>
