---
import Card from './Card.astro'
import { type SectionItem } from '../pages/index.astro'

interface Props extends SectionItem {};

const { title, posts } = Astro.props
---
<section class="border-t">
  <div class="container border-x">
    <h2>{title}</h2>
    { posts.slice(0,3).map( (post) => (
      <Card post={post}/>
    ))}
  </div>
</section>
