---
type IconName = 'X' | 'Facebook' | 'はてなブックマーク';

interface SocialItem {
  label: IconName;
  href: string;
}

// アイコン
const iconMap: Record<IconName, () => any> = {
  X: () => (
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
      <path
        d="M10.6173 7.69834L16.9459 0.5H15.4463L9.95111 6.75022L5.56215 0.5H0.5L7.13697 9.95144L0.5 17.5H1.99977L7.80279 10.8996L12.4379 17.5H17.5L10.6169 7.69834H10.6173ZM8.56317 10.0347L7.89071 9.09356L2.54016 1.60473H4.84371L9.16167 7.64845L9.83413 8.5896L15.447 16.4455H13.1434L8.56317 10.0351V10.0347Z"
        fill="#171717"
      />
    </svg>
  ),
  Facebook: () => (
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z"
        fill="#171717"
      />
    </svg>
  ),
  はてなブックマーク: () => (
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.074 0H15.926C18.176 0 20 1.824 20 4.07401V15.926C20 18.176 18.176 20 15.926 20H4.074C1.82399 20 0 18.176 0 15.926V4.07401C0 1.824 1.82399 0 4.074 0ZM9.61482 9.64257C10.2608 9.69176 10.7644 9.91938 11.1268 10.3241C11.4904 10.7277 11.672 11.2701 11.672 11.9441C11.672 12.4318 11.5704 12.8578 11.3656 13.2274C11.1624 13.5958 10.8708 13.8826 10.4892 14.0841C10.1808 14.2489 9.79919 14.3689 9.34482 14.4406C8.88963 14.5098 8.14563 14.5458 7.114 14.5458H4.5456V5.45495H7.0384C8.06363 5.45495 8.778 5.48816 9.18637 5.55296C9.59282 5.62016 9.94119 5.73375 10.2344 5.89495C10.5696 6.08095 10.8244 6.32936 11.002 6.63976C11.1752 6.95212 11.2644 7.31338 11.2644 7.72213C11.2644 8.23812 11.134 8.64857 10.8712 8.95057C10.6072 9.25657 10.1896 9.48575 9.61482 9.64257ZM7.3792 7.47012H6.8472L6.8468 9.29413H7.3416C7.952 9.29413 8.36919 9.22657 8.598 9.09338C8.824 8.95776 8.938 8.73894 8.938 8.39775C8.938 8.05657 8.83082 7.81657 8.62037 7.67775C8.40719 7.53975 7.994 7.47012 7.3792 7.47012ZM7.71319 12.9049C8.29837 12.9049 8.71563 12.8321 8.95763 12.6834C9.202 12.5354 9.32319 12.2898 9.32319 11.9469C9.32319 11.5638 9.21237 11.2969 8.988 11.1458C8.76719 10.9946 8.35163 10.9189 7.75037 10.9189H6.8472V12.9049H7.71319ZM14.3032 12.2424C13.6668 12.2424 13.1516 12.7576 13.1516 13.3936C13.1516 14.0296 13.6672 14.5452 14.3032 14.5452C14.9392 14.5452 15.4544 14.0296 15.4544 13.3936C15.4544 12.7576 14.9384 12.2424 14.3032 12.2424ZM13.3032 5.45441H15.3032V11.5152H13.3032V5.45441Z"
        fill="#171717"
      />
    </svg>
  ),
};

const items: SocialItem[] = [
  { label: 'X', href: '/' },
  { label: 'Facebook', href: '/' },
  { label: 'はてなブックマーク', href: '/' },
];
---

<ul>
  {
    items.map((item, index) => {
      const IconComponent = iconMap[item.label];
      return IconComponent ? (
        <li>
          <a href={item.href} target="_blank" rel="noopener noreferrer">
            <IconComponent />
          </a>
        </li>
      ) : null;
    })
  }
</ul>
