---
import '../styles/global/index.css';

import { twMerge } from 'tailwind-merge';
import { siteInfo } from '../constant';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title?: string;
  description?: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={siteInfo.keywords} />
    <meta name="description" content={description ?? siteInfo.description} />
    <meta name="author" content="hyacker" />
    <meta property="og:title" content={title ?? siteInfo.title} />
    <meta property="og:description" content={description ?? siteInfo.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteInfo.url} />
    <meta property="og:image" content="/ogp.png" />
    <meta property="og:site_name" content="hyacker" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>{title ?? siteInfo.title}</title>
  </head>
  <body class={twMerge('font-palt min-h-screen antialiased', className)}>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
  <script is:inline>
    ( async () => {

      const showResult = async (e) => {
        const search = await pagefind.search(e.data)

        if( ! search ){
          return
        }

        // 検索結果を表示するタグを取得
        const target = document.querySelector('main section')

        while(target.firstChild){
          target.removeChild(target.firstChild);
        }

        search.results?.forEach( async (result) => {
          const data = await result.data()
          const resultCard = cardHtml(data.url, data.meta.title)
          target.insertAdjacentHTML( 'beforeend', resultCard )
        })
      }

      const cardHtml = ( href, title ) => {
        const id = href.split('/').at(-1)
        return `<div>
            <p><a href="/post/${id}/">${title}</p>
          </div>`
      }

      //Pagefind を初期化して、検索実行関数をセット
      const pagefind = await import('/pagefind/pagefind.js')
      await pagefind.init()

      //右上の検索欄のみ動作します
      document.getElementById('search-input').addEventListener('input',showResult)
    })()


  </script>
</html>
